<div class="page-header">
  <%= link_to user_goals_path(current_user), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_goal_path(current_user, @goal), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show goal</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @goal.title %></dd>

  <dt>Due date:</dt>
  <dd><%= @goal.due_date %></dd>

  <dt>Completed:</dt>
  <dd><%= @goal.completed %></dd>

  <dt>Created:</dt>
  <dd><%= @goal.created_at %></dd>

</dl>
<!-- (goal: @goal.id) -->
<div class="page-header">
  <%= link_to new_user_goal_task_path(current_user, @goal), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Task
  <% end %>
  <h1>Tasks</h1>
</div>

<div class="table-responsive goals">
  <table class="table table-hover">
    <thead>
      <tr>
            <th>Completed</th>
            <th>Title</th>
            <th>Description</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tasks) do |task| %>
            <td>
              <%= link_to("/tasks/#{task.id}/toggle_completed") do %>
                <% if task.completed %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-unchecked"></span>
                <% end %>
              <% end %>
            </td>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= link_to 'Show', user_goal_task_path(current_user, @goal, task) %></td>
            <td><%= link_to 'Edit', edit_user_goal_task_path(current_user, @goal, task) %></td>
            <td><%= link_to 'Destroy', user_goal_task_path(current_user, @goal, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
