<div class="page-header">
  <%= link_to new_user_goal_path(current_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Goal
  <% end %>
  <h1>Goals</h1>
</div>

<div class="table-responsive goals">
  <table class="table table-hover">
    <thead>
      <tr>
            <th>Completed</th>
            <th>Title</th>
            <!-- <th>Owner</th> -->
            <th>Due date</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @goals) do |goal| %>
            <td>
              <%= link_to("/goals/#{goal.id}/toggle_completed") do %>
                <% if goal.completed %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-unchecked"></span>
                <% end %>
              <% end %>
            </td>
            <td><%= goal.title %></td>
            <!-- <td><%= goal.owner %></td> -->
            <td><%= goal.due_date %></td>
            <!-- <td><%= goal.completed %></td> -->

            <td><%= link_to 'Show', user_goal_path(current_user, goal) %></td>
            <td><%= link_to 'Edit', edit_user_goal_path(current_user, goal) %></td>
            <td><%= link_to 'Destroy', user_goal_path(current_user, goal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<footer id="copyright">
    &copy; 2016 David Quigley. All rights reserved.
</footer>
